/* Globales */
html{
    box-sizing: border-box;
    font-size: 62.5%; /*Sale de (10px/16px)*100 para que 1rem sea igual a 10px*/
}
*,*:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}
h1,h2,h3{
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
a{
    text-decoration: none;
    color: #000000;
}

img{
    display: block;
    max-width: 100%; /*Para que todas las imagenes ocupen el 100% de su contenedor, asi se evita desbordamiento*/
}
.btn{
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
}
.btn:hover{
    background-color: #769c02;
}

.contenedor{
    max-width: 120rem;
    margin-inline: auto;
}
/*Utilidades*/
.text-center{
    text-align: center;
}
/* Header */

.nombre-sitio{
    text-align: center;
    margin-top: 5rem;
}

.nombre-sitio span {
    color: #037bc0;
}

/* Nav */
.contenedor-navegacion{
    border-top: 1px solid #e1e1e1;
}
.nav-principal{

    padding: 2rem 0rem; 
    display: flex;
    justify-content: space-between;
}



/* Hero */

.hero{
    height:55rem;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*Categorias*/
.categorias{
    padding-top: 5rem;
}
.categorias h2{
    text-align: center;
}
.categoria a{
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover{
    background-color: #037bc0;
    color: #fff;
    border-radius: 0 0 2rem 2rem;
    /* border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; */
}
.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; /*Agregaa espacio entre columnas y filas*/
}


/*Sobre nosotros**/
.sobre-nosotros{
    background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%, 120rem ;
    padding: 10rem 0;
}

.sobre-nosotros-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;

}

.texto-nosotros{
    grid-column: 2 / 3; /*Posiciona el contendido entre la linea 2 y la linea 3*/
    color: #fff;
    text-align: justify;
}

/*Listado de productos*/
.contenido-principal{
    padding-top: 5rem;
}
.listado-productos{

}

.producto{
    background-color: #037bc0;
}
.texto-producto{
    text-align: center;
    color: #fff;
    padding: 2rem;
}
.texto-producto h3{
    margin: 0;
}
.texto-producto p{
    margin: 0 0 .5rem 0;
}

.texto-producto .precio-producto{
    font-size: 2.8rem;
    font-weight: 900;
}

